# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencias
node_modules/
vendor/

# Archivos temporales
*.log
*.tmp
*.temp

# Archivos de ambiente
.env
.env.local

# Archivos de compilación
dist/
build/